extends layout.pug

block head
  title= __('title.home')
  style.
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .cards > a {
      border: 1px solid;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }

    .c {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

block content
  h1= __('home.title')
  p= __('home.subtitle')
  .cards
    each food in foods
      a(href=`/food/${food.id}`)
        p= food.title
        .c
          span #{ __('food.prep_time') }: #{ food.prep_time }
          span #{ __('food.cook_time') }: #{ food.cook_time }
          span #{ __('food.calories') }: #{ food.calories.toFixed(0) }
