extends layout.pug

block head
  style
    include styles/table.css

block content
  h1= __('users.title')

  form(action='/users', method='get')
    input(type='text', name='q', value=query, placeholder=__('users.search'))
    button(type='submit')= __('users.search')

  table
    thead
      tr
        th= __('users.id')
        th= __('users.name')
    tbody
      each user in users
        tr
          td= user.id
          td= user.display_name ? user.display_name : user.username
