extends ../layout.pug

block head
  title= __('title.food.search')
  style.
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .cards > a {
      border: 1px solid;
      width: 25%;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      color: inherit;
      text-decoration: none;
    }

    .c {
      display: flex;
      gap: 1rem;
    }

    .pages {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .pages > p {
      margin: 0;
    }

block content
  h1= __('food.search.title')
  form(action='/food', method='get')
    input(type='text', name='q', value=query, placeholder=__('search.placeholder'))
    select#cat(name='cat', value=cat)
      option(value='')= __('categories.all')
      each cat in categories
        option(value=cat.id) #{ cat.name }

    button(type='submit')= __('food.search.button')

  if results.length
    .cards
      each food in results
        a(href=`/food/${food.id}`)
          img(src=`/assets/food/${food.image}?size=128`)
          p= food.title
          .c
            span #{ __('food.prep_time') }: #{ food.prep_time }
            span #{ __('food.cook_time') }: #{ food.cook_time }
            span #{ __('food.calories') }: #{ food.calories.toFixed(0) }

  if total > 1
    .pages
      if page > 2
        a(href=`/food?q=${q || ""}&cat=${category || ""}&p=${1}`)= __('pagination.first')
      if page > 1
        a(href=`/food?q=${q || ""}&cat=${category || ""}&p=${page - 1}`) #{ page - 1 }
      p #{ page }
      if page < total
        a(href=`/food?q=${q || ""}&cat=${category || ""}&p=${page + 1}`) #{ page + 1 }
        if page < (total - 1)
          a(href=`/food?q=${q || ""}&cat=${category || ""}&p=${total}`)= __('pagination.last.counted', total)

  else
    p= __('food.search.none-found')
